# numpy
# pandas
# streamlit
# plotly==6.2.0
# seaborn==0.13.2
# ydata-profiling==4.6.4
# matplotlib
# scikit-learn==1.4.2
# joblib==1.4.2
# fastapi==0.111.0
# uvicorn[standard]==0.29.0
# jinja2==3.1.4


numpy
pandas
streamlit
plotly
seaborn
ydata-profiling
matplotlib
scikit-learn
joblib==1.4.2
fastapi==0.111.0
uvicorn[standard]==0.29.0
jinja2
indiapins
flask
